@tailwind base;
@tailwind components;
@tailwind utilities;

.section-style {
  @apply bg-neutral-900 m-4 p-4 space-y-4 rounded-3xl;
}

.text-secondary {
  @apply text-gray-400;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.transform {
  transform: translateY(10px);
}

.profile-section {
  scrollbar-width: none; /* Untuk Firefox */
}

.profile-section::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}
